{% extends 'base.html' %}

{% load static %}

{% block content %}



    <!-- s-content
    ================================================== -->
    <section class="s-content s-content--narrow">

        <div class="row">


                <h3>Update Your Profile</h3>

                {% if messages %}
                    {% for msg in messages %}
                        {% if msg.tags == "error" %}
                            <h4 class="alert-box alert-box--error hideit">{{msg}}</h4>
                        {% elif msg.tags == "success" %}
                            <h4 class="alert-box alert-box--success hideit">{{msg}}</h4>
                        {% endif %}
                    {% endfor %}
                {% endif %}

                <form enctype="multipart/form-data" name={{ model.username }} id="cForm" method="POST">
                    <fieldset>

                        {% csrf_token %}

                        {{ form.as_p }}

                    </fieldset>
                </form> <!-- end form -->


            </div> <!-- end s-content__main -->

        </div> <!-- end row -->

    </section> <!-- s-content -->

{% endblock %}